.button {
    background-color: #EB5E30;
    color: #fbcb7b;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    border-width: 0px;
}