.container {
    width: 100%;
    background-color: #fffbf4;
    box-shadow: 0em 0.3em 0.3em #6B2200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* padding: 0 10%; */
    padding: 0%;
    /* border-bottom: solid #6B2200; */
    margin-bottom: 3vh;
}

.button {
    margin-top: 1%;
    margin-bottom: -5%;
    margin-left: 5%;
    height: 20%;
    border: 0px;
    background: transparent;
    color: #6B2200;
    font-size: 200%;
    font-weight: 800;
}
/* .button2 {
    margin-top: 1%;
    margin-bottom: -5%;
    margin-right: 5%;
    height: 20%;
    height: 1%;
    border: 0px;
    background: transparent;
    color: #6B2200;
    font-size: 200%;
    font-weight: 800;
} */

